* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  height: 100vh;
}
html {
  scroll-behavior: smooth;
}

.fa-comment-dots {
  font-size: 24px;
  padding: 10px;
}

.chatContainer {
  position: fixed;
  bottom: 100px;
  right: 20px;
  display: flex;
  flex-direction: column;
  width: 450px;
  max-width: 450px;
  padding: 10px;
  background-image: linear-gradient(
    rgb(88, 86, 214),
    rgb(113, 112, 204),
    rgb(252, 253, 253),
    white,
    white
  );
  height: 750px;
  border-radius: 10px;
  z-index: 1000;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
}

.chatIcon-box {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(88, 86, 214);
  width: 52px;
  height: 52px;
  border-radius: 50%;
  cursor: pointer;
  backface-visibility: hidden;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  transition: transform 0.3s ease; 
}

.chatIcon-box:hover{
  transform: scale(1.1);
}

.chatIcon-open,
.chatIcon-minimize {
  user-select: none;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  transition: transform 0.16s linear 0s, opacity 0.08s linear 0s;
  opacity: 1;
}
.chatIcon-open {
  opacity: 1;
  transform: rotate(0deg) scale(1);
}
.chatIcon-minimize {
  opacity: 0;
  transform: rotate(0deg);
}

.chatIcon-1caczyq {
  user-select: none;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  transition: transform 0.16s linear 0s, opacity 0.08s linear 0s;
  opacity: 1;
  transform: rotate(0deg) scale(1);
}

.chatIcon-18guge0 {
  padding: 32px 36px 140px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  position: relative;
  color: rgb(255, 255, 255);
  opacity: 0.996528;
  border: 1px solid red;
}
*/ .intercom-qgosab img {
  max-height: 32px;
  max-width: 100%;
}

.minimize-x {
  display: none;
}
form {
  display: flex;
  justify-content: start;
  width: 100%;
  flex-direction: row;
  overflow: hidden;
  border-radius: 3px;
  min-height: fit-content;
  border: 2px solid black;
}

@media screen and (max-width: 480px) {
  .minimize-x {
    display: block;
  }
  .chatContainer {
    position: fixed;
    inset: 0;
    bottom: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
  .chatIcon-box {
    /* display: none; */
  }
  #loginContainer input {
    width: 80%;
    padding: 0.5rem;
  }

  #signinButton {
    padding: 0.5rem 1rem;
  }
}
